{% extends 'base.html' %}
{% block title %}Home - iamSomen{% endblock title %}
{% block home_active %}active{% endblock home_active %}
{% block home %}#{% endblock home %}
{% block body %}
<main class="site-main">
    <!-- banner area start -->
    <section class="site-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 site-title">
                    <h3 class="title-text">Hey</h3>
                    <h1 class="title-text text-uppercase">I am Somen</h1>
                    <h4 class="title-text">A coder, programmer, developer</h4>
                    <div class="site-buttons">
                        <div class="d-flex flex-row flex-wrap">
                            <a href="https://github.com/S0M3N"><button type="button"
                                    class="btn button primary-button mr-4 text-uppercase">Github</button></a>
                            <a href="https://www.linkedin.com/in/somen-samanta-6375a921a/"><button type="button"
                                    class="btn button secondary-button text-uppercase">Linkedin</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 banner-image">
                    {% load static %}
                    <img src="{% static 'images/banner-img.png' %}" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
<!-- banner area end -->
<!-- about area start -->
    <section class="about-area" id="about">
        <div class="container-fluid">
            <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-image">
                            {% load static %}
                            <img src="{% static 'images/coder.jpg' %}" alt="about us" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about-title">
                        <h2 class="text-uppercase">
                            <span>Let me</span>
                            <span>introduce</span>
                            <span>myself</span>
                        </h2>
                        <div class="paragraph py-4 w-75">
                            <p class="para">A Computer Science engineering student building my skills in software
                                development and learning new technologies daily. Love to work on Linux and command line.
                            </p>
                            <p class="para">
                                I’m currently working on <b>building my skills in DSA</b> <br>
                                I’m currently learning <b>Java and Data Structures </b><br>
                                Ask me about <b>Python, C </b><br>
                                How to reach me <b>thesomen123@gmail.com</b>
                            </p>
                        </div>
                        <button type="button" class="btn button primary-button text-uppercase">Get my CV</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->
</main>
<!-- main area end -->
{% endblock body %}